body
{
    background-image: url("bck.jpg");
}
#dg
{
    background-color: rgba(255, 255, 255,0.6);
    width: 320px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
    border: 1px solid green;
}
#btnvalider
{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid green;
    color: green;
    font-weight: bolder;
}
#btnvalider:hover
{
    color: white;
    background-color: green;
}
h2
{
    text-align: center;
    color: green;
}
#name
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-bottom: 2px green solid;
    height: 20px;
    width: 260px;
}
#password
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-bottom: 2px green solid;
    height: 20px;
    width: 260px;
}
#msg
{
    border: 1px solid black;
    height: 80px;
    width: 278px;
    position: absolute;
    left: 3%;
    top: 60%;
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
}
#d1
{
    background-color: green;
    width:284px;
    position: absolute;
    left: 3%;
    top: 49%;
    padding: 8px;
}
#villes
{
margin-left: 50px;
}
#afd
{
    border: 1px solid green;
    background-color: green;
    width:284px;
    padding: 8px;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%,-50%);
}